*.env
.venv/*
secrets/*
*.pyc
!mock/generated_mock_data/*
mock/*
.vscode/*
data/dividends*.yaml
data/*/positions.json
data/*/statements.json
data/*/depot_id.json
data/*/snapshot.json
data/wkn_name_cache.json
data/wkn_ticker_cache.json
data/snapshot.json
data/manual/*
todo.txt
.github/*