body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
}

h4 {
    font-weight: 600;
    color: #333;
}

.table th {
    background-color: #dee2e6;
    color: #222;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #f1f3f5;
}
